<h2>Editing Book</h2>
<%= form_with model: @book, url: update_book_path(@book.id), method: :patch do |f| %>
<label for="title">Title</label>
 <div class="form">
  <%= f.text_field:title %>
 </div>
<label for="body">Body</label>
 <div class="form">
  <%= f.text_area:body %>
 </div>
 <div class="action">
  <%=f.submit "Create Book"%>
 </div>

<%= link_to'Show',book_path(@book.id) %>|<%= link_to "Back", "/books" %>
<% end %>